.homePage {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Vollständige Höhe des Bildschirms */
}

.tasklist {
    width: 100%; /* 80% der Breite für die Tasklist */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Scrollbar für große Inhalte */
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.addTaskForm input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addTaskForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addTaskForm button:hover {
    background-color: #0056b3;
}

.openModalButton{
    font-size: 16px;
}

.add-icon{
    width: 16px;
    height: 16px;
}