.mainContent {
    text-align: center;
}

.dark_mode_toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.charts {
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
}